body 
{
	border: solid 5px;
	background-color: black;
}
table {
	width: 90%;
	height: 75vh; /*сколько в процентах занимает по высоте*/
	margin: 12.5vh auto; /*оставшиеся 25 процентов пополам делим между верхним и нижним отступом*/
	table-layout: fixed;
	border-collapse: collapse; 
}

	/* Принудительно распределяем высоту для всех строк, это просто 100 процентов на 17 поделила */
	table tr {
		height: 5.88%;
	}

th, td 
{
	border: solid 3px white;
	height: 30px;
}
.bg-yellow 
{
	background-color: yellow;
}

.bg-deepskyblue 
{
	background-color: deepskyblue;
}

.bg-yellowgreen {
	background-color: olive;
}

.bg-red 
{
	background-color: red;
}

.bg-maroon {
	background-color: maroon;
}

.bg-darkblue {
	background-color: #0014A8;
}